CreditCard/
Netflix/
Cars.zip
Student.zip
PneumoniaPrediction/test/
PneumoniaPrediction/train/
PneumoniaPrediction/val/
FishClassification/Fish_Dataset/
ImageClassification/seg_pred/
ImageClassification/seg_train/
ImageClassification/seg_test/
CovidPrediction/Covid19-dataset/